@font-face {
    font-family: FontOne;
    src: url(./Fonts/CENSCBK.TTF);
}
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: FontOne;
}

html,
body {
    width: 100%;
    height: 100%;
}
body::-webkit-scrollbar{
    color: transparent;
}
body::-webkit-scrollbar-thumb{
    background: linear-gradient(#333, #333 ,#333,#333);
    border-radius: 5vw;
}
#main {
    width: 100%;
    min-height: 100vh;
}
nav{
    position: absolute;
    top: 0;
    width: 100%;
    height: 10vh;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    position: absolute;
    z-index: 99;
    position: fixed;
}
nav a{
    font-size: .8rem;
    text-decoration: none;
    color: #dadada;
    text-transform: uppercase;
}
.part-1{
    background-color: #333;
    color: #dadada;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.part1__top{
    /* background-color: sienna; */
    margin-bottom: 50vh;
    position: absolute;
    perspective: 600px;
    perspective-origin: top;
}
.part1__top-content{
    text-align: center;
}
.part1__top-content p{
    font-size: .8rem;
} 
.part1__top-content h1{
    font-size: 8vw;
    line-height: 15vh;
    padding-top: 5vh;
    font-weight: 200;
} 
.videotag{
    width: 65%;     
    height: 45vh;
    object-fit: cover;
}
.videotag video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.part__btm{
    overflow: hidden;
    position: absolute;
    margin-top: 45vh;
    perspective: 500px;
    perspective-origin: bottom;
}
.part1__btm_content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.part1__btm_content p{
    width: 60%;
    text-align: center;
    font-size: .7rem;
} 
.part1__btm_content h1{
    font-size: 6.5vw;
    font-weight: 200;
    text-transform: uppercase;
} 

.ri-close-line{
    position: absolute;
    top: 4%;
    right: 3%;
    z-index: 999;
    font-size: 1.6rem;
    display: none;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)2s;
}
.ri-menu-line{
    position: absolute;
    top: 4%;
    right: 3%;
    z-index: 999;
    font-size: 1.6rem;
    display: none;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)2s;
}
.nav-res{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #000;
    display: flex;
    flex-direction: column;
    padding: 3rem 50vw;
    gap: 4vw;
    z-index: 9;
    left: -110%;
}
.nav-res a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}
.part-2{
    width: 100%;
    height: 100vh;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards{
    width: 80%;
    height: 75vh;
    /* background-color: crimson; */
    display: flex;
    justify-content: space-between;
}
.card{
    width: 30%;
    height: 75vh;
    background-color: #383535;
}
.part-3{
    width: 100%;
    height: 100vh;
    background-color: #333;
}
@media (max-width: 500px) {
        nav{
            display: none;
        }
        .part1__top-content h1{
            line-height: 10vw;
            font-size: 10vw;
        }
        .part1__top{
            margin-bottom: 70vh;
        }
        .part__btm{
            margin-top: 70vh;
        }
        .part1__btm_content h1{
            font-size: 8.5vw;
        }
        .part1__btm_content p{
            width: 90%;
        }
        .ri-menu-line{
            display: initial;
        }
        .ri-close-line{
            font-size: 2.5rem;
        }
        .nav-res{
            transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;
        }
        
}